.container {
    display: flex;
    align-items: end;
    /* flex-direction: column; */
    height: 40vh;
    padding-left: 7rem;
    padding-bottom: 3rem;
}

* {
    color: white;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
    max-width: 700px;
}

@media screen and (max-width: 768px) {

    .container {
        padding-left: 2rem;
    }

    h1 {
        font-size: 28px;
        /* text-align: center; */
    }
    
    p {
        font-size: 15px;
    }
}