.container {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    /* background-color: red; */
}


@media screen and (max-width: 400px) {

    .container { 
        margin: 0.5rem;
        /* background-color: red; */

    }


}
