.container {

    margin: 2rem;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 2rem;
}

.categoria-container {
    /* background-color: aqua; */
    display: flex;
    justify-content: center; 
    /* flex-wrap: wrap; */

}
.card-container {
    max-width: 1000px;
    /* background-color: aqua; */
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 20px;
}