<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EventRoller
    </ion-title>
    <ion-icon name="musical-notes-outline"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<ion-content style = "text-align: center;">

  <h1 align="center"> Criar Conta </h1>

  <ion-list>
    <ion-list align="center">

      <div class="input">
        <ion-icon name="person-circle"></ion-icon>
        <ion-input label="" placeholder="Digite seu nome">
        </ion-input>
      </div>
  
      <div class="input">
        <ion-icon  name="phone-portrait"></ion-icon>
        <ion-input label="" type="number" placeholder="Digite seu número"></ion-input>
      </div>
      
      <div class="input"> 
        <ion-icon name="mail"></ion-icon>
        <ion-input label="" type="email" placeholder="Digite seu e-mail"></ion-input>
      </div>
      
      <div class="input">
        <ion-icon name="lock-open"></ion-icon>
        <ion-input label="" type="password" placeholder="Digite sua senha"></ion-input>
      </div>

      
    </ion-list>
  </ion-list>

  <div class="button-container"> 
    <ion-button color="dark" style="padding: 30px;">Cadastrar</ion-button>
  </div>

  
  <a> Já possui uma conta? <span> Faça login! </span>  </a>
</ion-content>
