<div class="container">

    <form>

        <div>

            <div class="label-container">
                <div>
                    <label for=""> Número do cartão </label> <br>
                    <input class="numero-input" type="text" placeholder="Número do cartão" required>
                </div>
            </div>
            
            <div class="label-container">
                <div >
                    <label for="">CPF</label> <br>
                    <input class="cpf-input" type="text" placeholder="CPF" required>
                </div>
            </div>
    
            <div class="end-container">

                <div>
                    <label for="">Validade</label>  <br>
                    <input type="text" placeholder="Validade" required>
                </div>
    
                <div>
                    <label for="">CCV</label>  <br>
                    <input type="text" placeholder="CCV" required>
                </div>
            </div>

            <div class="submit-container">
                <input routerLink="/carteira" class="submit" type="submit" >
            </div>

        </div>


    </form>

</div>