<div class="container">
    <div class="blur-background">
        <div class="card">
            <div>
                <button> <a target="_blank" href="https://www.mercadopago.com.br/checkout/v1/payment/redirect/e03456be-313e-48f7-b3ee-2f767b7ccbe7/payment-option-form/?source=link&preference-id=1486479689-4282bba8-c34b-4d43-9285-8fabb85a5037&sniffing-rollout=sniffing-api&router-request-id=fb1c3112-6672-4f66-b720-bbc208d7e30f&p=b0b40eca22090e57a1c7fa8c9e23f8de#/"> Comprar ingresso </a> </button>
            </div>
        </div>
    </div>
</div>
