<div class="container">

    <div class="button-container"> 

        <button> <i class="fa-solid fa-credit-card" style="color: #000000;"></i> Cartão de crédito </button>
        <button> <i class="fa-solid fa-credit-card" style="color: #000000;"></i> Cartão de débito </button>
        <button> <i class="fa-solid fa-qrcode" style="color: #000000;"></i> Pix </button>
        <button> <i class="fa-solid fa-barcode" style="color: #000000;"></i> Boleto </button>

    </div>


    <div class="form-container">

        <pro-form1></pro-form1>

    </div>

</div>