<div class="container">

    <div> <h1> {{evento.titulo}}</h1> </div>

    <div class="card-container">

        <div class="primary">

            <div class="primary-left-container">

                <div>
                    <h2> {{evento.data_evento}}</h2>
                </div>

                <div>
                    <h3>{{evento.hora}}</h3>
                    <hr>
                </div>

                <div>
                    <h4> Não perca!</h4>
                </div>
                
            </div>

            <div class="primary-right-container">

                <div>
                    <h2> Local </h2>
                </div>

                <div>
                    <h3> Itaborái, {{evento.estado}} </h3>
                    <hr>
                </div>

                <div>
                    <h4>  {{evento.rua}}</h4>
                </div>

            </div>

        </div>

        <div class="secondary">

            <div class="secondary-left-container">

                <div> <h2> Descrição do evento </h2> </div>
                <div> <p> {{evento.descricao}}</p> </div>
            </div>

            <div class="secondary-right-container">

                <div> <h2> Política do evento </h2> </div>
                <div> <p> {{evento.politica}}</p> </div>

            </div>

        </div>

        <div class="iframe-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117747.61942898361!2d-42.865705150000004!3d-22.74261735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99bff5afbc21c3%3A0x81cefcbdcd8acf65!2zSXRhYm9yYcOtLCBSSg!5e0!3m2!1spt-BR!2sbr!4v1695317612176!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

</div>