<div class="container">

    <table>

        <tr>

            <th>Descrição</th>
            <th>Qntd</th>
            <th>Preço</th>
            <th>Total a pagar</th>

        </tr>

        <tr>

            <td> <img src="../../../assets/matue.jpeg" alt="img"> </td>
            <td> <i class="fa-solid fa-angle-up" style="color: #000000;"></i><span class="qntd">2</span><i class="fa-solid fa-angle-down" style="color: #000000;"></i> </td>
            <td> R$ 777,77 </td>
            
            <td>  1455,54</td>
        </tr>   

    </table>

</div>