<div class="container">

    <div>
        <img class="img-banner" src="../../../assets/matue.jpeg" alt="">
    </div>

    <div class="data-container">
        
        <div class="span-container"> <span> Unissex</span> </div>
        
        <div class="information-container">

            <div>
                <img class="img-icon" src="../../../assets/i-icon.png" alt="">
            </div>
            
            <div>
                <div> <h2>Matuê</h2> </div>
                <div> <h3> 10/09/2023 22:00 </h3> </div>
                <div> <h4> Rj, Itaborái, Rua Alfredo Chavez </h4> </div>
            </div>

        </div>

    </div>



</div>