<div class="container">

    <div class="card-container">

        <div class="card">

            <div> <h1> Matue </h1> </div> 
            <div> <h2> 20/10 </h2> </div> 
            <div> <button routerLink=""> Saiba mais </button> </div>

        </div>
        
    </div>

    <div class="circle-container">        
        <i class="fa-solid fa-circle" style="color: #ffffff;"></i>
        <i class="fa-regular fa-circle" style="color: #ffffff;"></i>
        <i class="fa-regular fa-circle" style="color: #ffffff;"></i>
        <i class="fa-regular fa-circle" style="color: #ffffff;"></i>
    </div>

</div>