header {
    height: 15vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 35px; */
}

a {
    color: white;
    font-size: 2.7vw;
}

@media screen and (max-width: 768px) {
    a {
        font-size: 4.4vw;
    }
}


